# Python
.venv/
__pycache__/
*.pyc

# Firebase Secrets
firebase-key.json
firebase_config.json
serviceAccountKey.json
firebase-adminsdk*.json
ipon-firebase.json

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

__pycache__/
*.pyc

firebase-key.json